.footer {
    background-color: var(--lumo-primary-color);
    color: white;
    padding: 10px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 10px;
}

.column.extra {
    font-size: 0.85rem;
    flex-direction: column;
}

.column.border-right {
    border-right: 2px solid white;
}

.column.width-20 {
    width: 20%;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
    .footer {
        flex-direction: column; /* Diseño vertical para todo el footer */
        gap: 10px;
    }

    .column {
        width: 100%; /* Cada columna ocupa todo el ancho */
        border-right: none; /* Eliminar bordes verticales */
    }

    .social-links {
        display: flex;
        flex-direction: column; /* Cambiar disposición a vertical */
        align-items: center; /* Centrar los íconos horizontalmente */
        gap: 10px; /* Separación entre íconos */
    }
}