@import "main-layout.css";
:root {
    --lumo-size-m: 2rem; /* Define un valor base */
}

html {
    --lumo-primary-color: #384850;
    --lumo-primary-color-50pct: hsl(0, 0%, 100%);
    --lumo-primary-color-10pct: hsla(214, 33%, 38%, 0.1);
    --lumo-primary-text-color: hsl(214, 34%, 44%);
    --lumo-border-radius-s: calc(var(--lumo-size-m) / 6);
    --lumo-border-radius-m: calc(var(--lumo-size-m) / 2);
    --lumo-border-radius-l: var(--lumo-size-m);
}

.boton-avalar {
    position: fixed;   /* Fija el botón en relación a la ventana */
    bottom: 195px;      /* Distancia desde la parte inferior */
    right: 20px;       /* Distancia desde el lado derecho */
    z-index: 1000;     /* Asegura que esté por encima de otros elementos */
}

.responsive-container {
    display: flex;
    flex-direction: column; /* Móvil: apilar cuadros */
    align-items: center; /* Cuadros centrados en móvil */
    gap: 20px;
}

@media (min-width: 768px) {
    .responsive-container {
        flex-direction: row; /* PC: cuadros en fila */
        align-items: flex-start; /* Cuadros alineados al lado izquierdo */
        justify-content: flex-start;
        gap: 20px;
    }
}
